@font-face {
    font-family: annabel;
    src: url(./Fonts/Bannabel.ttf);
}

@font-face {
    font-family: olivera;
    src: url(./Fonts/BOlivera.ttf);
}

@font-face {
    font-family: sophie;
    src: url(./Fonts/BSophie.ttf);
}

@font-face {
    font-family: beauty2;
    src: url(./Fonts/Beauty2.ttf);
}

@font-face {
    font-family: orbitron;
    src: url(./Fonts/orbitron.otf);
}

@font-face {
    font-family: apple;
    src: url(./Fonts/HelveticaNeueThin.otf);
}

@font-face {
    font-family: apple1;
    src: url(./Fonts/Inter-SemiBold.otf);
}

@font-face {
    font-family: apple2;
    src: url(./Fonts/Inter-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}

#main {
    width: 100%;
    height: 100%;
}

#div_text {
    width: 100%;
    height: 100%;
}

#apple {
    width: 100%;
    height: 80%;
    margin-top: 45px;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
}

#apple img {
    width: 100%;
    height: 91%;
    object-fit: cover;
    object-position: center;


}

#apple_title {
    height: 300px;
    width: 500px;
    position: absolute;
    top: 50px;
}

#apple_div1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 10px;
}

#apple_div1 i {
    font-size: 45px;
}

#apple_div1 h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px;
    letter-spacing: 2px;
}

.watch {

    font-family: apple2;
    font-weight: 700;
}

.series {

    font-family: apple;
    font-weight: 700;
}


#apple_title h3 {
    text-align: center;
    font-family: apple;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

#apple_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

#apple_button button {
    padding: 12.5px 20px;
    border-radius: 50px;
    font-size: 17px;
}

.learnbtn {
    background-color: #0076DF;
    border: none;
    color: white;
}

.buybtn {
    background-color: transparent;
    border: 1px solid #0076DF;
    color: #0076DF;
}

#div0 {
    height: 400px;
    width: 400px;
    background-color: rgb(51, 0, 255);
}

#div00 {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 30);
}


#div1 {
    height: 500px;
    width: 300px;
    /* background-color: pink; */
    background: linear-gradient(red, pink, blue);
}

#div2 {
    height: 500px;
    width: 500px;
    background: linear-gradient(to right bottom, red, pink, blue);
}

.div3 {
    height: 500px;
    width: 500px;
    background: radial-gradient(yellow, orange, green);
}

#div4 {
    height: 500px;
    width: 500px;
    background: conic-gradient(red, blue, yellow, pink, red);
}

#div5 {
    height: 500px;
    width: 500px;
    background-color: pink;
}

#div6 {
    height: 300px;
    width: 300px;
    background-color: red;
}

#outer {
    height: 600px;
    width: 500px;
    background-color: lightcoral;
}

#inner {
    height: 40%;
    width: 50%;
    background-color: darkmagenta;
}

#div7 {
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/736x/84/45/be/8445be42a76e0641a603608a280d2a95.jpg);

    /* cover or cotain image jaisa rahega waisa work karega, 
    like image landscape ya potrait bhi reh sakta hai,   
    overall all ye keh sakte hai cover - image ke kam length side ko cover karta hai and contain -image ke jyada side wala ko fit karta hai */

    background-size: cover;
    /* background-size: contain; */
    background-position: center;


}

#div8 {
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/736x/84/45/be/8445be42a76e0641a603608a280d2a95.jpg);
    background-size: contain;

}

#div9 {
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/736x/84/45/be/8445be42a76e0641a603608a280d2a95.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}

#div10 {
    height: 400px;
    width: 800px;
    background-color: rgb(51, 0, 255);
    border: 20px solid red;
    border-radius: 50px;
    margin: 100px;
    padding: 50px;
}

#div12 {
    height: 400px;
    width: 800px;
    background-color: rgb(51, 0, 255);
    border: 20px solid red;
    border-radius: 50px;
    margin: 100px;
    padding: 50px;
}





/* css for position: absolute; o wala div uper float karega */

#car1 {

    height: 300px;
    width: 400px;
    background-color: rgb(11, 19, 133);

}

#car2 {
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;

}


#car3 {
    height: 500px;
    width: 600px;
    background-color: pink;
    font-size: 300px;

}

#car4 {
    height: 2000px;
    width: 100%;
    background-color: lightblue;
}

#car5 {
    height: 600px;
    width: 600px;
    background-color: red;

}

#car6 {
    height: 200px;
    width: 200px;
    background-color: rgb(135, 7, 255);
    position: absolute;
    margin-left: 50%;

}

#car7 {
    height: 600px;
    width: 600px;
    background-color: rgb(255, 5, 213);

}

#car8 {
    height: 200px;
    width: 200px;
    background-color: rgb(135, 7, 255);
    position: absolute;
    position: relative;
    margin-left: 50%;

}

#rightbar {
    width: 100;
    height: 400px;
    background-color: red;
    position: fixed;
    right: 0;
    top: 50%;

}


#rightbar2 {
    width: 200px;
    height: 200px;
    background-color: rgb(47, 0, 255);
    /* position: fixed; */
    position: absolute;
    right: 0;
    top: 50%;

}


#home1 {
    width: 100%;
    height: 1000px;
    background-color: lightgreen;

}

#sticky {
    position: sticky;
    top: 0;
    color: black;

}

#box {
    height: 300px;
    width: 500px;
    background-color: lightpink;
}


#home2 {
    width: 100%;
    height: 1000px;
    background-color: rgb(197, 236, 197);

}

#sticky1 {
    color: rgb(0, 0, 0);

}

#box1 {
    position: sticky;
    top: 0;
    height: 300px;
    width: 500px;
    background-color: rgb(143, 66, 78);
}



#details {
    background-color: #c31e1e;
    height: 100%;
    width: 100%;
}

#div101 {
    width: 100%;
    height: 100%;
    background-color: rgb(231, 255, 10);
    display: flex;
    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
}

#box101 {
    height: 300px;
    width: 300px;
    background-color: #ff0000;
}

#box102 {
    height: 300px;
    width: 300px;
    background-color: #48ff00;
}

#box103 {
    height: 300px;
    width: 300px;
    background-color: #2f00ff;
}

#div201 {
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
}

#box201 {
    height: 300px;
    width: 300px;
    background-color: #ff0000;
}

#box202 {
    height: 300px;
    width: 300px;
    background-color: #48ff00;
}

#box203 {
    height: 300px;
    width: 300px;
    background-color: #2f00ff;
}

#div301 {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 225, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box301 {
    height: 300px;
    width: 300px;
    background-color: #ff0000;
}

#box302 {
    height: 300px;
    width: 300px;
    background-color: #48ff00;
}

#box303 {
    height: 300px;
    width: 300px;
    background-color: #352b66;
}

#div401 {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box401 {
    height: 300px;
    width: 300px;
    background-color: #ff0000;
}

#box402 {
    height: 300px;
    width: 300px;
    background-color: #48ff00;
}

#box403 {
    height: 300px;
    width: 300px;
    background-color: #10cc3f;
}

#div501 {
    width: 100%;
    height: 100%;
    background-color: rgb(121, 21, 235);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}




#box501 {
    height: 300px;
    width: 300px;
    background-color: #ff0000;
}

#box502 {
    height: 300px;
    width: 300px;
    background-color: #48ff00;
}

#box503 {
    height: 300px;
    width: 300px;
    background-color: #2f00ff;
}


#navbar {
    height: 45px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36.5px;
    position: absolute;
    top: 0;

}

.macnav {
    color: black;
    font-family: apple;
    font-weight: 600;
    font-size: 10.7px;
    letter-spacing: 1.1px;
    /* word-spacing: 10px; */
    text-decoration: none;
}

#navbar a {
    color: black;
    text-decoration: none;
}

#navbar a i {
    font-size: 17px;
}


h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 143, 222);
    font-size: 50px;
    font-family: orbitron;
    font-weight: 550;
    /* font-style: italic; */
    text-align: center;
    /* text-transform: lowercase; */
    /* text-transform:uppercase; */

}

#photo {
    color: blue;
}

.amity {
    background-color: aqua;
}